<a href="https://colab.research.google.com/github/Amir3969z/Uni-kassel-Pythonkurs/blob/main/Vorlesung01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
20

20

In [ ]:
-10.5

-10.5

# Datentypen

In [ ]:
20+20

40

In [ ]:
-10-5.5

-15.5

In [ ]:
-10-5-1/2

-15.5

In [ ]:
-10+2*(10+10)

30

In [ ]:
10.01e4

100100.0

In [ ]:
import sys

a_variable = 0
int_size = sys.getsizeof(a_variable)
print(int_size, "bytes")

24 bytes

In [ ]:
a_variable = 123456789
int_size = sys.getsizeof(a_variable)
print(int_size, "bytes")

44 bytes

In [ ]:
a_variable = 123456789.123456789
float_size = sys.getsizeof(a_variable)
print(a_variable)
print(float_size, "bytes")

123456789.12345679
24 bytes

In [ ]:
a_variable = 123456789123456789.123456789
float_size = sys.getsizeof(a_variable)
print(a_variable)
print(float_size, "bytes")

1.2345678912345678e+17
24 bytes

In [ ]:
a_variable = 10
print(type(a_variable))

<class 'int'>

In [ ]:
a_variable = 1.5
print(type(a_variable))

<class 'float'>

In [ ]:
a_variable = 10
a_variable = "Dies ist eine Zeichenkette"
print(type(a_variable))

<class 'str'>

In [ ]:
a_variable = True
print(type(a_variable))

<class 'bool'>

In [ ]:
a_variable = input("Welche Zahl soll quadriert werden? ")
a_variable = int(a_variable)
print(a_variable*a_variable)

Welche Zahl soll quadriert werden? 10
100

In [ ]:
a_variable = [1, 10, 20]
print(type(a_variable))

<class 'list'>

In [ ]:
print(a_variable[1])

10

In [ ]:
a_variable = [0.1, 10, "Hallo Welt"]
print(a_variable)

a_variable = a_variable + ["nochmal Hallo", "Tschüss"]
print(a_variable)

[0.1, 10, 'Hallo Welt']
[0.1, 10, 'Hallo Welt', 'nochmal Hallo', 'Tschüss']

# Arithmetische und logische Ausdrücke

In [ ]:
var1 = 40
var2 = 60
result = (var1)/(var1 + var2)
print(result)

0.4

In [ ]:
print("10 durch 3, abrunden:", 10//3)
print("Rest bei 10 durch 3:", 10%3)
print("3 hoch 3:", 3**3)

10 durch 3, abrunden: 3
Rest bei 10 durch 3: 1
3 hoch 3: 27

In [ ]:
import math

result = math.sin(10)
print(result)

-0.5440211108893698

In [ ]:
from math import sqrt

print(sqrt(9))

3.0

In [ ]:
# Kleiner?
result = var1 < var2
print(result)

True

In [ ]:
# Kleiner gleich?
result = var1 <= 39
print(result)

False

In [ ]:
# Gleich?
result = var1 == (40*2)/2
print(result)

True

In [ ]:
# Ungleich?
result = var1 != 40
print(result)

False

In [ ]:
# Nicht ...?
result = not(var1 == (40*2)/2)
print(result)

False

In [ ]:
# ... und ... ?
print(var1 < var2 and var2 > 60)

False

In [ ]:
# ... oder ... ?
print(var1 < var2 or var2 > 60)

True

In [ ]:
# Operatorrangfolge: Zuerst and, dann or, außer es werden Klammern gesetzt.
print(var1 < var2 and var2 > 50 or var2 < 40)

True

# Kontrollstrukturen

**if, elif, else**

In [ ]:
var1 = 60

if var1 == 60:
  print(var1)

60

In [ ]:
var1 = 50

if var1 == 60:
  print(var1)
  print("If-Ausgabe ist erfolgt, da die Bedingung erfüllt ist")

print("Außerhalb des If-Blocks")

Außerhalb des If-Blocks

In [ ]:
var1 = 50

if var1 < 50:
  print("Wert ist kleiner")

if var1 >= 50:
  print("Wert ist nicht kleiner")

Wert ist nicht kleiner

In [ ]:
var1 = 50

if var1 < 50:
  print("Wert ist kleiner")
else:
  print("Wert ist nicht kleiner")

Wert ist nicht kleiner

In [ ]:
var1 = 50
klein = 10
mittel = 50

if var1 <= klein:
  print("Wert ist klein")
elif var1 <= mittel:
  print("Wert ist mittelgroß")
elif var1 > mittel:
  print("Wert ist groß")
else:
  print("Wert konnte nicht verglichen werden")

print("Fertig")

Wert ist mittelgroß
Fertig

**Bedingte Ausdrücke**

In [ ]:
# DieseRückgabe if Bedingung else AlternativeRückgabe
"Hallo" if 10 < 20 else "Tschüss"

'Hallo'

In [ ]:
var1 = 100 if 10 < 20 else 0
print(var1)

100

In [ ]:
print("Hallo" if 10 < 20 else "Tschüss")

Hallo

**while**

In [ ]:
var1 = 10

while var1 > 0:
  print(var1)
  var1 = var1 - 1

print("Programm-Ende")

10
9
8
7
6
5
4
3
2
1
Programm-Ende

In [ ]:
var1 = 10

while var1 > 0:
  print(var1)
  var1 -= 1

print("Programm-Ende")

10
9
8
7
6
5
4
3
2
1
Programm-Ende

In [ ]:
password = "TopSecret"
user_input = ""

while user_input != password:
  user_input = input("Passwort: ")

print("Sie haben es geschafft!")

Passwort: TopSecret
Sie haben es geschafft!

In [ ]:
password = "TopSecret"
user_input = ""
number_of_tries = 0

while user_input != password and number_of_tries < 3:
  user_input = input("Passwort: ")
  number_of_tries += 1

print("Sie haben es geschafft!")

Passwort: hjkhjk
Passwort: dsasd
Passwort: dsasa
Sie haben es geschafft!

In [ ]:
password = "TopSecret"
user_input = ""
number_of_tries = 0

while user_input != password and number_of_tries < 3:
  user_input = input("Passwort: ")
  number_of_tries += 1

if user_input == password:
  print("Sie haben es geschafft!")

Passwort: TopSecret
Sie haben es geschafft!

In [ ]:
password = "TopSecret"
user_input = ""

while user_input != password:
  user_input = input("Passwort: ")
  if user_input == "exit":
    break

print("Sie haben es geschafft!")

Passwort: dfsdfs
Passwort: exit
Sie haben es geschafft!

In [ ]:
password = "TopSecret"
user_input = ""

while user_input != password:
  user_input = input("Passwort: ")
  if user_input == "exit":
    break
else:
  print("Sie haben es geschafft! Das korrekte Passwort wurde eingegeben. Schauen Sie sich die geheime Information an:")
  print("Die Antwort lautet: 42")

print("Das Programm wird nun beendet!")

Passwort: hjhjhj
Passwort: fdsdfs
Passwort: exit
Das Programm wird nun beendet!

In [ ]:
user_input = ""

while True:
  user_input = input("Geben Sie meine Lieblingszahl ein, um hier rauszukommen: ")
  user_input = int(user_input)

  if user_input != 123:
    continue
  else:
    print("Ja, gut geraten.")
    break

print("Programm-Ende")

Geben Sie meine Lieblingszahl ein, um hier rauszukommen: 10
Geben Sie meine Lieblingszahl ein, um hier rauszukommen: 123
Ja, gut geraten.
Programm-Ende

In [ ]:
import math 

user_input = 0

while user_input <= 1:
  user_input = input("Findet alle Primzahlen bis zur gegebenen Zahl. Gebe Ganzzahl größer 1 ein: ")
  user_input = int(user_input)

# Erstellen einer leeren Liste
divider_list = []

n = 2

# Bis zur (abgerundeten) Wurzel der eingegebenen Zahl prüfen.
while n <= math.floor(math.sqrt(user_input)):
    if user_input % n == 0:
        print(user_input, "ist zum Beispiel durch", n, "teilbar.")
        # Liste mit dem gefundenen Teiler ergänzen
        divider_list += [n]
    # n hochzählen
    n += 1

if divider_list == []:
  print(user_input, "ist eine Primzahl.")

Findet alle Primzahlen bis zur gegebenen Zahl. Gebe Ganzzahl größer 1 ein: 5
5 ist eine Primzahl.

**for**

In [ ]:
meine_liste = ["hallo welt", "wie geht's denn so?", "Wünsche noch nen schönen Tag"]

for listen_element in meine_liste:
  print(listen_element)

hallo welt
wie geht's denn so?
Wünsche noch nen schönen Tag

In [ ]:
print("Die restlichen Teiler lauten:")

for divider in divider_list:
  print(user_input/divider)

Die restlichen Teiler lauten:

In [ ]:
print("Loop with start 0, end <10, step 1:")

# range(stop)
for i in range(10):
  print(i)

print("Next loop with start 5, end <15, step 2:")

# range(start, stop, step)
for i in range(5, 15, 2):
  print(i)

print("Next loop with start 10, end >0, step -1:")

# range(start, stop, step)
for i in range(10, 0, -1):
  print(i)

Loop with start 0, end <10, step 1:
0
1
2
3
4
5
6
7
8
9
Next loop with start 5, end <15, step 2:
5
7
9
11
13
Next loop with start 10, end >0, step -1:
10
9
8
7
6
5
4
3
2
1

In [ ]:
# stop-Zahl größer oder kleiner 5 setzen
for i in range(1, 4):
  print(i)
  if i % 5 == 0:
    break;
else:
  print("Schleife komplett durchlaufen")

1
2
3
Schleife komplett durchlaufen

Zwei Listen $a$ und $b$ gegeben:

> $\sum_{i=1}^{m}\sum_{j=1}^{n}a_i\times b_j $

In [ ]:
a = [1, 2, 1, 20]
b = [10, 1, 10, 5, 6, 5]

result = 0;

for a_i in a:
  for b_j in b: 
    result += a_i * b_j

print(result)

888

In [ ]:
import math

print(math.fsum(a) * math.fsum(b))

888.0

In [ ]:
text = "Sehr interessanter Text"
search = "s"
counter = 0

for s in text:
  if s == search:
    counter += 1

print(search, "wurde", counter, "mal gefunden")

# Formatierte Ausgabe, F-String: Alles innerhalb der geschweiften Klammern wird als Code evaluiert
print(f"{search} wurde {counter} mal gefunden")

s wurde 2 mal gefunden
s wurde 2 mal gefunden

# Grundoperationen für Listen

In [ ]:
list_a = [10, 20, 30]

print(f"Element Nummer 1: {list_a[1]}")

Element Nummer 1: 20

In [ ]:
list_a += [40, 50]

print(f"Letztes Element: {list_a[-1]}")

Letztes Element: 50

In [ ]:
sequence_a = list_a[1:3]

print(f"Sequenz a: {sequence_a}")

Sequenz a: [20, 30]

In [ ]:
sequence_a[0] = -1

print(f"Sequenz a: {sequence_a}")
print(f"Liste a: {list_a}")

Sequenz a: [-1, 30]
Liste a: [10, 20, 30, 40, 50]

In [ ]:
list_b = ["Hallo", "Welt", "C", "HTML", "Python"]
sequence_b = list_b[1:3]

sequence_b[0] = "Du da"

print(f"Sequenz b: {sequence_b}")
print(f"Liste b: {list_b}")

Sequenz b: ['Du da', 'C']
Liste b: ['Hallo', 'Welt', 'C', 'HTML', 'Python']

In [ ]:
list_c = [0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
sequence_c = list_c[0:-1:2]

print(sequence_c)

[0, 20, 40, 60, 80]

In [ ]:
#Prüfen, ob ein bestimmter Wert in einer Liste vorhanden ist
"Welt" in list_b

True

In [ ]:
# Oder nicht vorhanden ist
"Welt" not in list_b

False

In [ ]:
if "Welt" not in list_b:
  print("Hey, Du hast vergessen die Welt in Deine Grüße mitaufzunehmen!")
else:
  print("Hi")

Hi

In [ ]:
# Die Länge einer Liste zurückgeben
if len(list_c) > 0:
  print(list_c)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
# Größten und kleinsten Wert einer Liste zurückgeben (falls Ordnungsrelation für den Datentyp definiert ist)
print(max(list_c))

100

In [ ]:
list_d = ["Hallo", "Welt", "aal", "Aal", "Auto", "Auto", "Fahrrad"]
print(min(list_d))

Aal

In [ ]:
# Erstes Vorkommen eines bestimmten Elements
print(list_d.index("Auto"))

4

In [ ]:
# Gesamtzahl der Vorkommen
print(list_d.count("Auto"))

2

In [ ]:
import math

# modulname.funktionsname(argument)
print(math.cos(0))

1.0

In [ ]:
# Die Funktion index operiert auf der Liste list_d
print(list_d.index("aal"))

2

[Methoden von Listenobjekten](https://docs.python.org/3/tutorial/datastructures.html)

In [ ]:
# Einzelne Elemente hinzufügen
list_d.append("Weiteres Auto")
list_d.append("Haus")

print(list_d)

['Hallo', 'Welt', 'aal', 'Aal', 'Auto', 'Auto', 'Fahrrad', 'Weiteres Auto', 'Haus']

# Mutable und immutable Objekte

In [ ]:
# Strings sind immutabel
variable_a = "Auto"
variable_b = variable_a

"""
Änderung führt zu einem neuen String-Objekt. 
variable_a zeigt auf das neue Objekt mit dem Wert "Autokauf"
variable_b zeigt immer noch auf das alte Objekt.
"""
variable_a += "kauf"
print("variable_a:", variable_a)
print("variable_b:", variable_b)

variable_a: Autokauf
variable_b: Auto

In [ ]:
# Listen sind mutabel
variable_a = ["Auto"]
variable_b = variable_a

""" 
Änderung wird an Liste durchgeführt. 
Sowohl variable_a als auch variable_b zeigen
noch auf das Original-Objekt
"""
variable_a += ["kauf"]
print("variable_a:", variable_a)
print("variable_b:", variable_b)

variable_a: ['Auto', 'kauf']
variable_b: ['Auto', 'kauf']